Name <%= text_input @f, :name, value: @item["name"]%>
State <%= checkbox @f, :state, value: @item["state"]%>
<br>
Brightness <%= text_input @f, :brightness, value: @item["brightness"]%>
White <%= text_input @f, :white, value: @item["white"]%>
Red <%= text_input @f, :red, value: @item["red"]%>
Green <%= text_input @f, :green, value: @item["green"]%>
Blue <%= text_input @f, :blue, value: @item["blue"]%>
